
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
    background-color: #f6f9f9;
    color: #95a4a9;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.backgroundbenz {
    background-image: url('background.jpg');   
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 80% 
}



.avatar {

    margin: 0 40px 20px 0;
    margin-left: 10%

}
    .avatar img {
        max-width: 12%;
        max-height: 25%;
        border-radius: 125px;
    }

.content {

    margin-left: 15%;


}
    .title {
        font-size: 48px;
        font-weight: normal;
        line-height: 1;
    }

    .social-icons li {
        display: inline;
    }
        .social-icons a {
            display: inline-block;
            margin-right: 10px;
            text-indent: -9999px;
        }
            .twitter {
                background-image: url(../img/twitter.png);
                width: 20px;
                height: 17px;
            }
            .facebook {
                background-image: url(../img/facebook.png);
                width: 10px;
                height: 19px;
            }
            .googleplus {
                background-image: url(../img/googleplus.png);
                width: 21px;
                height: 19px;
            }
            .dribbble {
                background-image: url(../img/dribbble.png);
                width: 21px;
                height: 19px;
            }
            .instagram {
                background-image: url(../img/instagram.png);
                width: 20px;
                height: 19px;
            }
            .flickr {
                background-image: url(../img/flickr.png);
                width: 20px;
                height: 9px;
            }











/*------------------------------------*\
    $MISC
\*------------------------------------*/
a img:hover,
.social-icons a:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.aboutmeparagraph{
    width: 25%;
}







/*------------------------------------*\
    $MOBILE
\*------------------------------------*/
@media handheld, only screen and (max-width: 720px) {
    .backgroundbenz {
        background-image: url('background.jpg');
        background-position: right bottom;
        background-size: cover;
        background-size: 0%;
        background-repeat: no-repeat;
        background-position: 92% 
    }

    .aboutmeparagraph{
        width: 80%;
    }
    .avatar,
    .content {
        float: none;
        
    }

    .avatar img {
        max-width: 125px;
        max-height: 125px;
    }

    .content {
        width: 100%;
    }
}